<%import "github.com/JustinHuang917/gof/appsite/models"%>
<%model models.User%>
<%layout ./appsite/view/html/default.layout%>

<%helper func displayDiv(innertext string){%>
	<div><%=innertext%></div>
	<%}%>
<div>
	<%displayDiv("Welcome")%>
	<%=model.Name%> 
	<a href="./orders/<%=model.Id%>" >My Orders</a>
</div>